@media screen and(min-width:1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 47px;
    background-color: #ffffff;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
.advantages__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.advantages__icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $mainTitleColor;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
